





.body{
    font-family: 'Anuphan', sans-serif;
    margin: 0 auto;
}

.blur {
    filter: blur(200px);
  }

.body__typ {
    font-family: 'Anuphan', sans-serif;
    background-color: teal;
    font-size: 40px;
    text-align: center;
    letter-spacing: 5px;
    
}