.container__form {
  height: 95vh;
  background-color: rgb(173, 109, 85);
}

.form{
  padding-top: 3rem;
  font-size: 23px;
  padding-left: 5rem;
  
}

.form__label {
    display: block;
   
  }
  .form__input[type="text"], input[type="tel"], input[type="email"] {
    width: 40%;
    padding: 0.8rem;
    
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .form__input[type="submit"] {
    background-color: #000000;
    color: white;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .form__input[type="submit"]:hover {
    background-color: #202020;
  }